[Unit]
Description=Fetch bootc updates
Documentation=man:bootc(8)
ConditionPathExists=/run/ostree-booted

[Timer]
OnBootSec=1h
OnUnitInactiveSec=8h

[Install]
WantedBy=timers.target