[Unit]
Description=Fetch bootc updates
Documentation=man:bootc(8)
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc update --quiet
ExecStart=/usr/bin/check-reboot.sh
